            html, body{
                margin:0;
                padding:0;
                height:100%;
            }
            #container{
                min-height:100%;
                position:relative;
            }
            #body{
                text-align:center;
                padding: 152px 50px 250px 50px;
                }
            h1{
                font-family:"Impact";
                color:#bbb;
            }
            p{
                font-family:"Arial";
                color:#555;
            }
            #header a{
                color:#bc4e55;
                visibility:hidden;
            }
            #body a:hover{
                color:#555;
            }
            #footer a:hover, #dropDown a:hover{
                color:white;
            }
            #footer{
                background-color: #555;
                width: 100%;
                height:150px;
                position:absolute;
                left:0;
                bottom: 0;
            }
            .col-third{
                text-align: center;
            }
            .hide{
                display:none;
                overflow: hidden;
            }
            #footerImg{
                text-align:center;
                float:none;
                margin-left:75px;
            }
            #sandwichBar{
                float:left;
                visibility:visible;
                top:0;
                width:100%;
                position:absolute;
                background-color:#222;
                height:55px;
                margin-bottom:200px;
                padding-top:5px;
           }
           #header{
               display:none;
               visibility:hidden;
           }
           #dropDown{
               visibility:visible;
               display:none;
               background-color:#222;
               height:150px;
               width:200px;
               position:absolute;
               left:0;
               top:50px;
               padding:0;
               margin-left:-15px;
           }
           #sandwichBar img{
               margin-left:5px;
           }
           ul#drop li{
               list-style-type:none;
               font-family:arial;
           }
           #body img{
               height:230px;
               width:230px;
               clear:both;
           }
           .jus{
               text-align:left;
           }