            html, body{
                margin:0;
                padding:0;
                height:100%;
            }
            #container{
                min-height:100%;
                position:relative;
            }
            #body{
                text-align:center;
                padding: 100px 5px 355px 5px;
                }
            h1{
                font-family:"Impact";
                color:#bbb;
            }
            p{
                font-family:"Arial";
                color:#555;
            }
            a{
                color:#bc4e55;
                text-decoration:none;
            }
            #body a:hover{
                color:#555;
            }
            #footer a:hover, #header a:hover{
                color:white;
            }
            #footer{
                background-color: #555;
                width: 100%;
                height:245px;
                position:absolute;
                left:0;
                bottom: 0;
            }
            .floatRight{
                margin-left:200px;
            }
            #footer p{
                color:white;
                padding-left:20px;
            }
            .col-third{
                width:33%;
                float:left;
                text-align:center;
                padding-right:55px;
                clear:all;
            }
            #footerImg{
                padding:40px 75px 0 0; 
                float:right;
            }
            #header{
                top:0;
                width:100%;
                position:absolute;
                background-color:#222;
                color:white;
                height:60px;
                font-family: arial;
            }
           #header li{
                display:inline;
                padding:5px 30px 0 0;
                float:right;
           }
           #header ul{
                margin-bottom:20px;
                height:20px;
           }
           #active{
               color:white;
           }
           #sandwichBar{
               visibility:hidden;
               overflow:hidden;
           }
           #dropDown{
                visibility:hidden;
                display:none;
           }