            html, body{
                margin:0;
                padding:0;
                height:100%;
            }
            #container{
                min-height:100%;
                position:relative;
            }
            #body{
                text-align:center;
                padding-bottom: 225px;
                }
            h1{
                font-family:"Impact";
                color:#bbb;
            }
            p{
                font-family:"Arial";
                color:#555;
            }
            a{
                color:#bc4e55;
            }
            #body a:hover{
                color:#555;
            }
            #footer a:hover{
                color:white;
            }
            #footer{
                background-color: #555;
                width: 100%;
                height:225px;
                position:absolute;
                left:0;
                bottom: 0;
            }
            .floatRight{
                margin-left:200px;
            }
            #footer p{
                color:white;
                padding-left:20px;
            }
            .col-third{
                width:33%;
                float:left;
                text-align:center;
                padding-right:55px;
                clear:all;
            }
            #footerImg{
                padding:40px 75px 0 0; 
                float:right;
            }
           
            