            html, body{
                margin:0;
                padding:0;
                height:100%;
            }
            #container{
                min-height:100%;
                position:relative;
            }
            #body{
                text-align:center;
                padding: 50px 150px 250px 150px;
                }
            h1{
                font-family: 'hickory_jackregular';
                font-size:72px;
                color:#c66;
                margin:0;
            }
            h4{
                font-style:italic;
                font-family:arial;
                color:#bbb;
            }
            p{
                font-family:"Arial";
                color:#555;
            }
            a{
                color:#c66;
                text-decoration:none;
            }
            #body a:hover{
                color:#555;
            }
            #footer a:hover, #header a:hover{
                color:white;
            }
            #footer{
                background-color: #222;
                width: 100%;
                height:150px;
                position:absolute;
                left:0;
                bottom: 0;
            }
            .floatRight{
                margin-left:200px;
            }
            #footer h4{
                color:#bbb;
                padding-left:20px;
                text-align:left;
                clear:none;
            }
            .col-third{
                width:33%;
                float:left;
                text-align:center;
                padding-right:55px;
                clear:all;
            }

            #header{
                top:0;
                width:100%;
                position:absolute;
                background-color:#222;
                color:white;
                height:60px;
                font-family: arial;
            }
           #header li{
                display:inline;
                padding:5px 30px 0 0;
                float:right;
           }
           #active{
               color:white;
           }
           #sandwichBar{
               visibility:hidden;
               overflow:hidden;
           }
           #dropDown{
                visibility:hidden;
                display:none;
           }
           #body img{
                height:300px;
                width:300px;
           }
           .jus{
               text-align:left;
           }
           #social img{
               float:right;
               margin-right:20px;
           }
          
